<a href="https://colab.research.google.com/github/avner8943/bootcamp/blob/master/naive_bayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [177]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

data = pd.read_csv('/content/diabetes.csv')

x = data.iloc[:,:-1].to_numpy()

y = data['Outcome'].to_numpy()

print(data.head())

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)
print(type(x_train))

data_diabtes = data[data['Outcome'] == 1]

data_no_diabtes = data[data['Outcome'] == 0]

data_diabtes.describe()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]
<class 'numpy.ndarray'>

       Pregnancies     Glucose  ...         Age  Outcome
count   268.000000  268.000000  ...  268.000000    268.0
mean      4.865672  141.257463  ...   37.067164      1.0
std       3.741239   31.939622  ...   10.968254      0.0
min       0.000000    0.000000  ...   21.000000      1.0
25%       1.750000  119.000000  ...   28.000000      1.0
50%       4.000000  140.000000  ...   36.000000      1.0
75%       8.000000  167.000000  ...   44.000000      1.0
max      17.000000  199.000000  ...   70.000000      1.0

[8 rows x 9 columns]

In [132]:

data_no_diabtes.describe()

       Pregnancies   Glucose  ...         Age  Outcome
count   500.000000  500.0000  ...  500.000000    500.0
mean      3.298000  109.9800  ...   31.190000      0.0
std       3.017185   26.1412  ...   11.667655      0.0
min       0.000000    0.0000  ...   21.000000      0.0
25%       1.000000   93.0000  ...   23.000000      0.0
50%       2.000000  107.0000  ...   27.000000      0.0
75%       5.000000  125.0000  ...   37.000000      0.0
max      13.000000  197.0000  ...   81.000000      0.0

[8 rows x 9 columns]

In [174]:
#data1 = data.groupby(['Outcome']).describe()
keys = data.keys()[:-1]
print(len(keys))

data1[keys[0]]['std'][1]

8

500

In [182]:
class naive_bayes():

  def __init__(self, x, y):


    self.x = x
    self.y = y

    self.x_for_pos = x[y==1,:]

    self.x_for_neg = x[y==0,:]
    
    self.p_1 = np.sum(y[y==1])/y.shape[0]

    self.p_0 = 1 - self.p_1



    self.pos_mean = np.mean(self.x_for_pos,axis = 1)

    self.neg_mean = np.mean(self.x_for_neg,axis = 1)

    self.pos_std = np.std(self.x_for_pos,axis = 1)

    self.neg_std = np.std(self.x_for_neg,axis = 1)



  def gauss(x, mu,s):

    return 1/np.sqrt(2*np.pi/s**2) * np.exp((-(x-mu)**2)/(2*s**2))


  def fit(self, x):

    p_1_prod = np.prod(self.gauss(x,self.pos_mean,self.pos_std))

    p_0_prod = np.prod(self.gauss(x,self.neg_mean,self.neg_std))

    if self.p_1*p_1_prod > self.p_0_prod :

      return 0

    return 1

In [183]:
nb = naive_bayes(x_train, y_train)


xx = x_test[0,:]

nb.fit(xx)

TypeError: ignored